extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    main.home
        section#home.home__hero
            .home__hero__img
                
            .container
                .row
                    .col-xs-24.col-sm-18.col-sm-offset-3.col-md-16.col-md-offset-4
                        h1 POLÍTICA DE PRIVACIDAD
                        p Aunar Proyectos Educativos está comprometida con la seguridad de los datos de sus usuarios. Cuando le pedimos llenar los campos de información personal con la cual usted pueda ser identificado, lo hacemos asegurando que sólo se empleará de acuerdo con los términos de este documento.
                        h2 ¿Qué tipo de información recolectamos?
                        p Aunar Proyectos Educativos podrá recoger información personal por ejemplo: Nombre, información de contacto como  su dirección de correo electrónica e información demográfica. Así mismo cuando sea necesario podrá ser requerida información específica para procesar algún pedido o realizar una entrega o facturación.
                        h2 ¿Cómo utilizamos su información?
                        p Aunar Proyectos Educativos emplea la información con el fin de proporcionar el mejor servicio posible, particularmente para mantener un registro de usuarios y mejorar nuestro servicio.  Es posible que sean enviados correos electrónicos periódicamente con información que consideremos relevante para usted o que pueda brindarle algún beneficio, estos correos electrónicos serán enviados a la dirección que usted proporcione y podrán ser cancelados en cualquier momento.
                        p Aunar Proyectos Educativos está altamente comprometido para cumplir con el compromiso de mantener su información segura. Usamos los sistemas más avanzados y los actualizamos constantemente para asegurarnos que no exista ningún acceso no autorizado.
                        p Se reserva el derecho de cambiar los términos de la presente Política de Privacidad en cualquier momento. Le recomendamos revisar periódicamente esta página para mantenerse actualizado.
